/**
* This file contains all the CSS Classes related derived from Award Classes and
* it's generated automatically by Awards Plugin. Don't change it manually,
* all changes will be overwritten by the Plugin.
*/

.Activities .AwardActivity.Basic a.Photo img,
img.Basic {

}

.Activities .AwardActivity.Bronze a.Photo img,
img.Bronze {
background: url("/vanilla/plugins/awards/design/images/awardclasses/bronze.png") top left no-repeat;
/*
	border: 4px solid #cd7f32;
	border-radius: 80px;
*/
}

.Activities .AwardActivity.Gold a.Photo img,
img.Gold {
background: url("/vanilla/plugins/awards/design/images/awardclasses/gold.png") top left no-repeat;
/*
	border: 4px solid #ffc90a;
	border-radius: 80px;
*/
}

.Activities .AwardActivity.Silver a.Photo img,
img.Silver {
background: url("/vanilla/plugins/awards/design/images/awardclasses/silver.png") top left no-repeat;
/*
	border: 4px solid #ababab;
	border-radius: 80px;
*/
}
