/**
{licence}
*/

.xdebug-var-dump {
	text-align: left !important;
}

/* General CSS for configuration pages sections */
.AwardsPlugin {
}

/* Style override for links that happen to be inside a <li> element, inside a
 * Tab. Such links become tab-looking due to Vanilla default styles.
 */
.AwardsPlugin a.Standard {
	border: none !important;
	background: none !important;
	color: #2786C2;
	top: 0 !important;
	padding: 0 !important;
	font-weight: !important;
}

.AwardsPlugin h1 {
	text-align: center;
}

#Content .AwardsPlugin .Info {
	padding-top: 0;
	margin: 0 0 10px;
	font-size: small;
}

#Content .AwardsPlugin .Buttons {
	margin: 0.5em;
}

.AwardsPlugin .Buttons .Button {
	margin: 0 0.5em !important;
}

.AwardsPlugin .Numeric {
	width: 7em;
	text-align: right;
}

.AwardsPlugin legend {
	width: 100% !important;
}

.AwardsPlugin fieldset p {
	font-size: 100%;
	padding-left: 20px;
}

.AwardsPlugin .Disabled {
	background: silver;
	color: whitesmoke;
	border: 1px solid #aaa;
	border-radius: 4px;
	padding: 6px;
}

.AwardsPlugin fieldset .Error {
	padding-left: 0;
	color: red;
	font-weight: bold;
}

.AwardsPlugin fieldset li label {
	margin-top: 1em;
}

/* Award Info page */
#dashboard_plugin_awards.AwardInfo #Panel {
  float: left;
  width: 250px;
}

#dashboard_plugin_awards.AwardInfo #Content {
  float: right;
  margin: 0 0 40px 20px;
  width: 690px;
}
#dashboard_plugin_awards.AwardInfo .AwardDetails .AwardImageWrapper,
#dashboard_plugin_awards.AwardInfo .AwardDetails .TextWrapper {
	float: left;
}

#dashboard_plugin_awards.AwardInfo .AwardDetails .TextWrapper {
	margin-left: 1em;
}

#dashboard_plugin_awards.AwardInfo .AwardDetails .AwardName {
	font-size: x-large;
	margin-top: 0.5em;
}

#dashboard_plugin_awards.AwardInfo .AwardDetails .AwardDescription {
	font-size: large;
}

#dashboard_plugin_awards.AwardInfo .TotalTimesAwarded {
	font-size: 110%;
	margin-top: 0.5em;
}


#dashboard_plugin_awards.AwardInfo .UserPhoto img {
	vertical-align: middle;
	margin-right: 0.5em;
}

#dashboard_plugin_awards.AwardInfo .YouEarned {
	margin-top: 1.5em;
}

/* List of last recipients of an Award */
#dashboard_plugin_awards.AwardInfo #RecentAwardRecipients {
	margin-top: 1.5em;
}

#dashboard_plugin_awards.AwardInfo #RecentAwardRecipients h4 {
	color: black;
	font-size: large;
	margin: 0.5em 0 ;
	padding-bottom: 0.3em;
	border-bottom: 1px dashed gray;
}

#dashboard_plugin_awards.AwardInfo #UserList {
	border: none;
}

#dashboard_plugin_awards.AwardInfo #UserList li {
	text-align: left;
	margin-right: 0.5em;
	background: none;
	border: none;
}

#dashboard_plugin_awards.AwardInfo #UserList .AwardRecipient {
	width: 31%;
	float: left;
}

/* Warning message */
.AwardsPlugin .Warning {
	font-size: 100%;
	color: maroon;
	border: 1px solid maroon;
}

.AwardsPlugin.ConfirmationDialog .Name {
	font-weight: bold;
	border-bottom: 1px dotted gray;
}


div.AwardsDescription {
	font-size: 85%;
}

#AwardClassesList th,
#AwardsList th,
#AwardClassesList td,
#AwardsList td {
	vertical-align: middle;
}

#AwardClassesList td,
#AwardsList td {
	padding: 1em 0;
}

.Activities .AwardActivity a.Photo img,
.AwardImage {
	background: none;
	text-align: center;
	background-size: contain !important;
}

img.Large {
	width: 100px;
	height: 100px;
}

img.Medium {
	width: 50px;
	height: 50px;
}

/* Wrapper for images in Award/Award class edit page */
.AwardsPlugin.AwardClassEdit,
.AwardsPlugin.AwardEdit {
	position: relative;
}

.AwardsPlugin .Buttons.Top {
	padding: 0;
	position: absolute;
	top: 0;
}

#Form_Awards .AwardImageWrapper .AwardImage {
	padding: 8px;
	border: 1px dashed silver;
}

/* Award/Award Class edit page */
.ImageColumn {
	float: left;
	text-align: center;
}

.ImageColumn h5,
.ImageSelector h5 {
	font-weight: bold;
	padding: 0.5em 0;
}

.ImageSelector {
	min-height: 14em;
	float: left;
	margin-left: 1em;
	padding-left: 1em;
	border-left: 1px solid silver;
}

.ImageSelector p {
	padding-left: 0 !important;
}

.AwardsPlugin .CloningNotice .ClassInfo {
	font-weight: bold;
}

/* Awards and Award Classes List page */
.AwardsPlugin .Enabled,
.AwardsPlugin .Enabled {
	width: 4em;
	text-align: center;
}

.AwardsPlugin .TotalAwardsUsingClass {
	width: 10em;
	text-align: center;
}

.AwardsPlugin .Image {
	width: 50px;
	text-align: center;
}

.AwardsPlugin .Name {
	width: auto;
}

.AwardsPlugin .ClassUsage {
	padding-left: 0;
	font-size: small;
	font-weight: bold;
}

.AwardsPlugin #AwardsList .Description {
	width: 25em;
}

.AwardsPlugin #AwardClassesList .Description {
	width: 20em;
}

.AwardsPlugin #AwardsList .RankPoints {
	width: 19em;
}

.AwardsPlugin #AwardClassesList .RankPoints {
	width: 4em;
}

.AwardsPlugin .RankPoints .Total {
	text-align: center;
	font-weight: bold;
	font-size: 120%;
	border-bottom: 1px dotted gray;
	padding-bottom: 4px;
	margin-bottom: 4px;
}

.AwardsPlugin #AwardsList .RankPoints ul {
	padding: 0;
}

.AwardsPlugin #AwardsList .RankPoints li {
	margin: 0;
	font-size: 100%;
}

.AwardsPlugin #AwardsList .RankPoints span {
	display: inline;
}

.AwardsPlugin #AwardsList .RankPoints .Amount {
	font-weight: bold;
}

.AwardsPlugin .RankPoints .Detail {
	text-align: left;
}

.AwardsPlugin .TimesAwarded {
	text-align: center;
}

.AwardsPlugin tbody .TimesAwarded {
	font-size: 120%;
	font-weight: bold;
}

/* Overrides for CodeMirror Syntax Highlighter */
.CodeMirror {
	border: 1px solid silver;
}

.CodeMirror span {
	font-size: 15px;
	display: inline !important;
}

/* Rule Settings Pages */
.AwardsPlugin #AwardRules {
	padding-left: 20px;
	border: 1px solid gray;
}

.AwardsPlugin  #Form_Awards h2 {
/*	font-size: 120%;
	font-weight: bold;
	padding: 0;
*/
	margin: 0 20px;
	border-bottom: 1px dashed gray;
}

.AwardsPlugin #Fields {
	padding-top: 0;
}

.AwardsPlugin #Fields .Column {
	float: left;
}

#Content .AwardsPlugin .RuleGroup h4 {
	font-size: 120%;
	font-weight: bold;
	padding: 0;
}

#Content .AwardsPlugin .RuleGroup .Rule ul {
	padding: 0;
}

#Content .AwardsPlugin .RuleGroup .Rule li {
	margin-right: 0.5em;
}

/* Tabs links */
.AwardsPlugin .Tabs {
	padding: 0;
}

.AwardsPlugin .ui-tabs-nav {
	padding: 0.5em 1em 0 !important;
}

.AwardsPlugin .ui-tabs-nav li {
	margin-right: 0.5em;
}

.AwardsPlugin .Tab {
	border-top: 1px solid #8BC1DE;
	background: url("../images/ui/tab-bg.png") top left repeat-x;
}

.AwardsPlugin .ui-tabs-anchor {
	font-size: 110%;
}

.AwardsPlugin .ui-tabs-nav .ui-tabs-active a {
	background: #DBF3FC;
	border-bottom: 1px solid #DBF3FC;
}

.AwardsPlugin .Rule label {
	display: inline-block;
}

#Content .AwardsPlugin ul.Rules {
	padding-top: 1em;
}

.AwardsPlugin .Rule ul li span {
	display: inline;
	margin-left: 1em;
}

.AwardsPlugin .Rule ul li input,
.AwardsPlugin .Rule ul li select {
	margin-left: 1em;
}

/* User Awards Widget */
#UserAwards {

}

#UserAwards #AwardsList {
	padding-top: 0.5em;
}

#UserAwards #AwardsList li {
	border: none;
}

#UserAwards #AwardsList .Award {
	float: left;
	background: none;
}
