/**
{licence}
*/

/* General CSS for configuration pages sections */
.AwardsPlugin {
}

.AwardsPlugin .Numeric {
	text-align: right;
}

.AwardsPlugin legend {
	width: 100% !important;
}

.AwardsPlugin fieldset p {
	font-size: 100%;
	padding-left: 20px;
}

/* Warning message */
.AwardsPlugin .Warning {
	font-size: 120%;
	color: maroon;
	font-weight: bold;
	border: 1px solid maroon;
}

.AwardsPlugin.ConfirmationDialog .Name {
	font-weight: bold;
	border-bottom: 1px dotted gray;
}


div.AwardsDescription {
   font-size: 85%;
}

#AwardsList td {
	vertical-align: middle;
}

.AwardImage {
}

.AwardImage.Large {
	width: 100px;
	height: 100px;
}

.AwardImage.Medium {
	width: 50px;
	height: 50px;
}

.AwardImageWrapper img {
	padding: 8px;
	border: 1px solid silver;
}

.AwardImageColumn {
	float: left;
	text-align: center;
}

.AwardImageColumn h5,
.ImageSelector h5 {
	font-weight: bold;
	padding: 0.5em 0;
}

.ImageSelector {
	float: left;
	margin-left: 1em;
	padding-left: 1em;
	border-left: 1px solid silver;
}

.ImageSelector p {
	padding-left: 0 !important;
}

.AwardsPlugin .Buttons .Button {
	margin-left: 1em;
}

/* Classes for Rule Settings Pages */
.AwardsPlugin #AwardRules {
	padding-left: 20px;
	border: 1px solid gray;
}

.AwardsPlugin #AwardRules h4 {
	font-size: 120%;
	font-weight: bold;
	padding: 0;
}

.AwardsPlugin #AwardRules h5 {
	font-size: 110%;
	font-weight: bold;
}

.AwardsPlugin #AwardRules h6 {
	font-size: 110%;
	font-weight: bold;
}

.AwardsPlugin #AwardRules .RuleGroup,
.AwardsPlugin #AwardRules .RuleType {
	border: 1px solid silver;
}

.AwardsPlugin #AwardRules ul {
	padding: 0;
}

.AwardsPlugin #AwardRules li {
	margin-right: 0.5em;
}

.AwardsPlugin #AwardRules .Tabs a {
	font-size: 110%;
}

.AwardsPlugin .Rule label {
	display: inline-block;
}

.AwardsPlugin .Rule ul li span {
	display: inline;
	margin-left: 1em;
}

.AwardsPlugin .Rule ul li input,
.AwardsPlugin .Rule ul li select {
	margin-left: 1em;
}
